// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.font-awesome{
  font-size: 3rem;
}
.alert-notice{
  background-color: rgba(34, 177, 187, 0.329);
}
